In [ ]:
### part 1

In [135]:
# 1 
AES = pd.read_csv('/Users/richardlesko/Desktop/Data Processing in Python/python-midterm/data_ws2025/AES.csv', sep = ',', on_bad_lines= 'skip')
df.head(5)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2021-01-04,62.404,62.404,60.263,60.813,2620900,0.0,0.0
1,2021-01-05,60.717,62.054,60.526,61.402,1578500,0.0,0.0
2,2021-01-06,62.962,65.947,62.834,65.039,3286100,0.0,0.0
3,2021-01-07,65.764,66.018,64.657,64.753,2364600,0.0,0.0
4,2021-01-08,64.840,64.952,63.137,64.235,1604000,0.0,0.0

In [137]:
CCI = pd.read_csv('/Users/richardlesko/Desktop/Data Processing in Python/python-midterm/data_ws2025/CCI.csv', sep = ',', on_bad_lines= 'skip')
df.head(5)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2021-01-04,62.404,62.404,60.263,60.813,2620900,0.0,0.0
1,2021-01-05,60.717,62.054,60.526,61.402,1578500,0.0,0.0
2,2021-01-06,62.962,65.947,62.834,65.039,3286100,0.0,0.0
3,2021-01-07,65.764,66.018,64.657,64.753,2364600,0.0,0.0
4,2021-01-08,64.840,64.952,63.137,64.235,1604000,0.0,0.0

In [139]:
CEG = pd.read_csv('/Users/richardlesko/Desktop/Data Processing in Python/python-midterm/data_ws2025/CEG.csv', sep = ',', on_bad_lines= 'skip')
df.head(5)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2021-01-04,62.404,62.404,60.263,60.813,2620900,0.0,0.0
1,2021-01-05,60.717,62.054,60.526,61.402,1578500,0.0,0.0
2,2021-01-06,62.962,65.947,62.834,65.039,3286100,0.0,0.0
3,2021-01-07,65.764,66.018,64.657,64.753,2364600,0.0,0.0
4,2021-01-08,64.840,64.952,63.137,64.235,1604000,0.0,0.0

In [141]:
DG = pd.read_csv('/Users/richardlesko/Desktop/Data Processing in Python/python-midterm/data_ws2025/DG.csv', sep = ',', on_bad_lines= 'skip')
df.head(5)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2021-01-04,62.404,62.404,60.263,60.813,2620900,0.0,0.0
1,2021-01-05,60.717,62.054,60.526,61.402,1578500,0.0,0.0
2,2021-01-06,62.962,65.947,62.834,65.039,3286100,0.0,0.0
3,2021-01-07,65.764,66.018,64.657,64.753,2364600,0.0,0.0
4,2021-01-08,64.840,64.952,63.137,64.235,1604000,0.0,0.0

In [143]:
PRU = pd.read_csv('/Users/richardlesko/Desktop/Data Processing in Python/python-midterm/data_ws2025/PRU.csv', sep = ',', on_bad_lines= 'skip')
df.head(5)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2021-01-04,62.404,62.404,60.263,60.813,2620900,0.0,0.0
1,2021-01-05,60.717,62.054,60.526,61.402,1578500,0.0,0.0
2,2021-01-06,62.962,65.947,62.834,65.039,3286100,0.0,0.0
3,2021-01-07,65.764,66.018,64.657,64.753,2364600,0.0,0.0
4,2021-01-08,64.840,64.952,63.137,64.235,1604000,0.0,0.0

In [189]:
### 2 
AES["c_value"].apply(lambda x: len(str(x))).idxmax()

NameError: name 'int64' is not defined

In [51]:
import sys
import numpy as np
import seaborn as sns
import pandas as pd
import zipfile
import datetime

In [ ]:
### Part 2

In [92]:
df = pd.read_csv('/Users/richardlesko/Desktop/Data Processing in Python/python-midterm/data_ws2025/companies_no_subindustry.csv', sep = ',', on_bad_lines= 'skip')
df.head(5)

,Symbol,Security,GICS_Sector,hq,included,Founded
0,MMM,3M,Industrials,"Saint Paul, Minnesota",09.08.1976,1902
1,AOS,A. O. Smith,Industrials,"Milwaukee, Wisconsin",26.07.2017,1916
2,ABT,Abbott,Health Care,"North Chicago, Illinois",31.03.1964,1888
3,ABBV,AbbVie,Health Care,"North Chicago, Illinois",31.12.2012,2013 (1888)
4,ABMD,Abiomed,Health Care,"Danvers, Massachusetts",31.05.2018,1981

In [ ]:
#1 How many companies have missing inclusion dates ?

In [83]:
sum(df.included.isna())

45

In [ ]:
# 2 Remove companies with missing inclusiondates. Find the oldest and youngest constituent, and compute the median age of a constituent.

In [111]:
pd.to_datetime(df, date_format="%d-%m-%y", dayfirst=True, errors='coerce')

TypeError: to_datetime() got an unexpected keyword argument 'date_format'

In [103]:
df.dropna(subset=['included'], how='any').head()

,Symbol,Security,GICS_Sector,hq,included,Founded
0,MMM,3M,Industrials,"Saint Paul, Minnesota",09.08.1976,1902
1,AOS,A. O. Smith,Industrials,"Milwaukee, Wisconsin",26.07.2017,1916
2,ABT,Abbott,Health Care,"North Chicago, Illinois",31.03.1964,1888
3,ABBV,AbbVie,Health Care,"North Chicago, Illinois",31.12.2012,2013 (1888)
4,ABMD,Abiomed,Health Care,"Danvers, Massachusetts",31.05.2018,1981

In [121]:
## 3 
df_industry = df.set_index(['GICS_Sector']) 
df_industry.head(10)

,Symbol,Security,hq,included,Founded
GICS_Sector,,,,,
Industrials,MMM,3M,"Saint Paul, Minnesota",09.08.1976,1902
Industrials,AOS,A. O. Smith,"Milwaukee, Wisconsin",26.07.2017,1916
Health Care,ABT,Abbott,"North Chicago, Illinois",31.03.1964,1888
Health Care,ABBV,AbbVie,"North Chicago, Illinois",31.12.2012,2013 (1888)
Health Care,ABMD,Abiomed,"Danvers, Massachusetts",31.05.2018,1981
Information Technology,ACN,Accenture,"Dublin, Ireland",06.07.2011,1989
Communication Services,ATVI,Activision Blizzard,"Santa Monica, California",31.08.2015,2008
Consumer Staples,ADM,ADM,"Chicago, Illinois",29.07.1981,1902
Information Technology,ADBE,Adobe Inc.,"San Jose, California",05.05.1997,1982
Information Technology,ADP,ADP,"Roseland, New Jersey",31.03.1981,1949

In [ ]:
## 4

In [ ]:
## 5